<div>
    <h4>Question 3</h4>
    <p>Modal 1</p>
    @Html.BootstrapModal("part 1", "This is part 1 of the bootstrap model helper method")

    <h4>Question 3</h4>
    <p>Modal 2</p>
    @Html.BootstrapModal("part 2", "This is part 2 of the bootstrap model helper method")


    <h2>Question 4</h2>
    <p>This is Bool True</p>
    <p>Return -> @true.ToYesOrNo()</p>
    <p>This is Bool False</p>
    <p>Return -> @false.ToYesOrNo()</p>

</div>